/* تعریف فونت وزیر */
@font-face {
    font-family: 'Vazir';
    src: url('/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir', sans-serif !important;
    direction: rtl;
    text-align: right;
    background-color: #f4f6f9;
}

a {
    text-decoration: none;
}
